.main-section {
    padding: 40px 0;
}

.page-logo {
    margin-bottom: 29px;
}

.page-section {
    width: 1183px;
}

.page-main-form {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 31px;
}

input,
select {
    border: 1px solid rgba(227, 222, 217, 1);
    padding: 3px 15px;
    line-height: 17px;
    font-size: 17px;
    color: rgba(139, 121, 105, 1);
}

.keyword-search {
    width: 347.47px;
    padding: 0 19.47px;
    height: 100%;
}

.keyword-search::placeholder {
    font-size: 16px;
    color: rgba(190, 177, 166, 1);
}

.arrow-gender-section {
    width: 102.48px;
    height: 100%;
}

.gender-select {
    width: 100%;
    height: 100%;
    padding: 0 21.64px;
}

.arrow-enquiry-section {
    width: 223.04px;
    height: 100%;
}

.category-select {
    width: 223.04px;
    height: 100%;
    padding: 0 22.39px;
}

.arrow-date-section {
    width: 148.87px;
    height: 100%;
}

.input__date {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 24.86px;
}

.arrow-gender-section,
.arrow-enquiry-section {
    position: relative;
}

.arrow-gender-section::after,
.arrow-enquiry-section::after,
.input__date::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 17.22px solid rgba(224, 223, 222, 1);
    content: "";
    transform: translateY(-50%);
    pointer-events: none;
}

.arrow-gender-section::after {
    top: 50%;
    right: 14.64px;
}

.arrow-enquiry-section::after {
    top: 50%;
    right: 12.92px;
}

.input__date::after {
    top: 50%;
    right: 15.79px;
}

.gender-select,
.category-select {
    height: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.input__date::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: transparent;
    height: auto;
    width: 100%;
    background: transparent;
    cursor: pointer;
}

.button-section {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search__button,
.reset__button {
    width: 102.48px;
    height: 100%;
    line-height: 50px;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
}

.search__button {
    border: 1px solid rgba(139, 121, 105, 1);
    background-color: rgba(130, 117, 106, 1);
    text-align: center;
    margin-right: 31.04px;
}

.search__button:hover {
    color: rgba(130, 117, 106, 1);
    background-color: rgba(255, 255, 255, 1);
}

.reset__button {
    display: block;
    border: 1px solid rgba(217, 198, 181, 1);
    background-color: rgba(217, 198, 181, 1);
    text-align: center;
    text-decoration: none;
}

.reset__button:hover {
    color: rgba(217, 198, 181, 1);
    background-color: rgba(255, 255, 255, 1);
}

.middle__admin {
    margin-top: 41px;
    width: 100%;
    height: 39px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.contact__export {
    width: 148px;
    height: 100%;
    background-color: rgba(225, 219, 214, 0.6);
    color: rgba(139, 121, 105, 1);
    padding: 8px 20px;
    line-height: 39px;
    text-decoration: none;
}

.contact__export:hover {
    color: rgba(225, 219, 214, 0.6);
    background-color: rgba(139, 121, 105, 1);
}

.listing__hail {
    margin-top: 27px;
    width: 100%;
}

.contact-table-inner {
    width: 100%;
    border-collapse: collapse;
    font-size: 20px;
    border: none;
}

.contact-table-header {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(139, 121, 105, 1);
    text-align: left;
    padding-left: 58px;
}


.contact-table-header,
.contact-table-row {
    border: none;
    height: 58.5px;
    line-height: 58.5px;
}

.detail-header {
    text-align: center;
}

.contact-row {
    height: 71.98px;
    line-height: 71.98px;
    color: rgba(139, 121, 105, 1);
}

.contact-cell-id {
    display: none;
}

.contact-cell {
    border-top: 1px solid rgba(224, 223, 222, 1);
    border-bottom: 1px solid rgba(224, 223, 222, 1);
    border-left: none;
    border-right: none;
    text-align: left;
    padding-left: 58px;
}

.contact-cell-category {
    font-size: 18px;
    line-height: 71.98px;
}

.contact-cell+.contact-cell {
    border-left: none;
}


.detail-cell {
    text-align: center;
    vertical-align: middle;
    padding: 0 58px;
}

.modal_admin {
    display: block;
    width: 76px;
    height: 39px;
    line-height: 39px;
    font-size: 18px;
    border: 1px solid rgba(217, 198, 181, 0.6);
    background-color: rgba(244, 244, 244, 0.3);
    color: rgba(217, 198, 181, 1);
    text-decoration: none;
    text-align: center;
}

.modal_admin:hover {
    color: rgba(244, 244, 244, 0.3);
    background-color: rgba(217, 198, 181, 1);
    transition: .6s;
}

@media screen and (max-width: 767px) {
    .page-section {
        width: 90%;
        margin: 1% auto;
    }

    .page-main-form {
        width: 100%;
        flex-direction: column;
        gap: 1%;
        margin: 0;
    }

    .arrow-gender-section,
    .arrow-enquiry-section,
    .arrow-date-section {
        width: 100%;
    }

    .keyword-search,
    .gender-select,
    .category-select,
    .input__date {
        width: 100%;
        max-width: none
    }


    .arrow-gender-section::after,
    .arrow-enquiry-section::after,
    .input__date::after {
        right: 10%;
    }

    .button-section {
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin: 2% auto;
    }

    .search__button {
        width: 45%;
    }

    .reset__button {
        width: 45%;
    }

    .contact-table-inner {
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        display: block;
        min-width: 100%;
    }

    .contact-cell {
        min-width: 200px;
    }

    .contact-cell-category {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: left;
        padding-left: 15px;
        max-width: 0;
    }

    .contact-cell-email {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: left;
        padding-left: 15px;
        max-width: 0;
    }
}

