/*ここからモーダル*/
.modal-wrapper {
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 40px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-wrapper:not(:target) {
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s, visibility .3s;
}

.modal-wrapper:target {
    opacity: 1;
    visibility: visible;
    transition: opacity .4s, visibility .4s;
}


.modal-wrapper .modal-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 20;
    position: relative;
    width: 805px;
    height: 858px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(139, 121, 105, 1);
    box-shadow: 4px 4px 4px 0 rgba(139, 121, 105, 0.25);
}

.modal-wrapper .modal-window .modal-content {
    overflow-y: auto;
    text-align: left
}

.modal-overlay {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(209, 208, 208, 0)
}

.modal-wrapper .modal-close {
    z-index: 20;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 42px;
    color: rgba(139, 121, 105, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 30px;
    line-height: 30px;
    border: 1px solid rgba(139, 121, 105, 1);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    margin: 29px 40px;
}

.modal-wrapper .modal-close:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(139, 121, 105, 1);
}

.delete-btn {
    display: inline-block;
    width: 76px;
    height: 39px;
    line-height: 39px;
    font-size: 18px;
    padding: 0 20px;
    text-decoration: none;
    background-color: rgba(186, 55, 13, 1);
    color: rgba(255, 255, 255, 1);
    margin-top: 114px;
}

.delete-btn:hover {
    color: rgba(186, 55, 13, 1);
    background-color: rgba(255, 255, 255, 1);
}

.modal_table {
    border: none;
    font-size: 20px;
    color: rgba(139, 121, 105, 1);
}

.modal_table_row {
    height: 56px;
}

.modal_table_cell {
    width: 180px;
    border: none;
    text-align: left;
    font-weight: 700;
    vertical-align: top;
}

.modal_table_text {
    width: 413px;
    border: none;
    text-align: left;
    padding-left: 46px;
    vertical-align: top;
}

@media screen and (max-width: 767px) {
    .modal-wrapper .modal-window {
        width: 90%;
        height: 70vh;
        padding: 20px;
        justify-content: center;
    }

    .modal-wrapper .modal-close {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 25px;
        margin: 20px;
    }

    .modal-content {
        width: 100%;
    }

    .modal_table {
        width: 100%;
        margin: 0 auto;
        font-size: 15px;
    }

    .modal_table_row {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2px;
        height: auto;
        margin-bottom: 10px;
    }

    .modal_table_cell, .modal_table_text {
        width: 100%;
        height: 20px;
        line-height: 20px;
    }

    .modal_table_text {
        padding-left: 0;
    }

    .delete-btn {
        margin-top: 20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .modal-wrapper .modal-window {
        width: 80%;
        height: 90vh;
        padding: 30px;
        justify-content: center;
    }

    .modal-content {
        width: 90%;
        margin: 0 auto;
    }
}
