.page-section {
    width: 80vw;
    margin: 1% auto;
    font-size: 0.8rem;
}

.page-main-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.6%;
    width: 100%;
}

input,
select {
    border: 1px solid rgb(230, 227, 204);
    padding: 3px 15px;
    line-height: 2rem;
    font-size: 0.8rem;
    color: rgb(151, 132, 91);
}

.keyword-search {
    flex-grow: 1;
    min-width: 246px;
    max-width: 336px;
    color: rgb(209, 183, 134);
    margin-bottom: 1.6%;
}

.keyword-search::placeholder {
    font-size: 0.7rem;
}

.gender-select,
.category-select,
.input__date {
    flex-grow: 1;
}

.arrow-date-section {
    margin-bottom: 1.6%;
}

.arrow-gender-section,
.arrow-enquiry-section {
    position: relative;
    margin-bottom: 1.6%;
}

.arrow-gender-section::after,
.arrow-enquiry-section::after,
.input__date::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 12px solid rgb(230, 227, 204);
    content: "";
    transform: translateY(-50%);
}

.arrow-gender-section::after,
.input__date::after {
    top: 50%;
    right: 12%;
}

.arrow-enquiry-section::after {
    top: 50%;
    right: 7%;
}

.gender-select,
.category-select {
    height: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.gender-select {
    min-width: 86px;
    max-width: 130px;
}

.category-select {
    min-width: 180px;
    max-width: 240px;
}

.input__date {
    position: relative;
    min-width: 110px;
    max-width: 140px;
}

.input__date::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: transparent;
    height: auto;
    width: 100%;
    background: transparent;
    cursor: pointer;
}

.search__button,
.reset__button {
    flex: 1 1 auto;
    line-height: 2rem;
    min-width: 100px;
    max-width: 120px;
    padding: 4px 15px;
    margin-bottom: 1.6%;
}

.search__button {
    border: 1px solid rgb(83, 71, 40);
    background-color: rgb(83, 71, 40);
    color: white;
    text-align: center;
}

.search__button:hover {
    color: rgb(83, 71, 40);
    background-color: white;
}

.reset__button {
    border: 1px solid rgb(233, 204, 150);
    background-color: rgb(233, 204, 150);
    color: white;
    text-align: center;
    text-decoration: none;
}

.reset__button:hover {
    color: rgb(233, 204, 150);
    background-color: white;
}

.middle__admin {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
}

.contact__export {
    max-width: 100px;
    border: 1px solid rgb(241, 230, 197);
    background-color: rgb(241, 230, 197);
    color: rgb(151, 132, 91);
    padding: 3px 15px;
    line-height: 2rem;
    text-decoration: none;
    font-weight: bold;
}

.contact__export:hover {
    color: rgb(241, 230, 197);
    background-color: rgb(151, 132, 91);
}

.listing__hail {
    margin: 2% 0 15% 0;
    width: 100%;
}

.contact-table-inner {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
    border: 1px solid rgb(230, 227, 204);
}

.contact-table-header {
    color: white;
    background-color: rgb(151, 132, 91);
    line-height: 3rem;
    text-align: left;
    padding-left: 10px;
}

.contact-table-header,
.contact-table-row {
    border: none;
}

.detail-header {
    text-align: center;
}

.contact-row {
    line-height: 3rem;
}

.contact-cell-id {
    display: none;
}

.contact-cell {
    min-width: 154px;
    border-top: 1px solid rgb(230, 227, 204);
    border-bottom: 1px solid rgb(230, 227, 204);
    border-left: none;
    border-right: none;
    text-align: left;
    padding-left: 15px;
}

.contact-cell+.contact-cell {
    border-left: none;
}

.contact-cell-name {
    min-width: 140px;
}

.contact-cell-gender {
    min-width: 80px;
}

.detail-cell {
    width: 176px;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    max-width: 176px;
}


.modal_admin {
    display: block;
    max-width: 80px;
    line-height: 1.5rem;
    font-size: 0.8rem;
    border: 1px solid rgb(209, 183, 134);
    background-color: rgb(250, 250, 243);
    color: rgb(209, 183, 134);
    padding: 2px 20px;
    text-decoration: none;
    margin: 0 auto;
    width: 80px;
    text-align: center;
}

.modal_admin:hover {
    color: rgb(250, 250, 243);
    background-color: rgb(209, 183, 134);
    transition: .6s;
}

@media screen and (max-width: 767px) {
    .page-main-form {
        justify-self: left;
        gap: 4%;
    }

    .contact-table-inner {
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        display: block;
        min-width: 100%;
    }

    .contact-cell {
        min-width: 200px;
    }

    .contact-cell-category {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: left;
        padding-left: 15px;
        max-width: 0;
    }

    .contact-cell-email {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: left;
        padding-left: 15px;
        max-width: 0;
    }
}

@media screen and (min-width: 768px) {
    .page-section {
        width: 90vw;
    }

    .page-main-form {
        margin: 1% 0;
    }

    .middle__admin {
        margin: 1% 0;
    }

    .listing__hail {
        margin: 1% 0 10% 0;
    }

    .contact-table-inner {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        display: block;
        font-size: 0.8rem;
    }

    .contact-table-row {
        line-height: 2.5rem;
    }

    .contact-row {
        line-height: 3.5rem;
    }

    .contact-cell-category {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: left;
        padding-left: 15px;
        max-width: 0;
    }

    .contact-cell-email {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: left;
        padding-left: 15px;
        max-width: 0;
    }
}

@media screen and (min-height: 1180px) and (max-width: 1024px) {
    .page-main-form {
        margin: 3% 0 2% 0 ;
    }

    .listing__hail {
        margin: 2% 0 15% 0;
    }

    .contact-table-inner {
        margin: 1% 0 5% 0;
        font-size: 1rem;
    }

    .contact-table-row {
        line-height: 3.5rem;
    }

    .contact-row {
        line-height: 4.5rem;
    }

    .contact-cell {
        min-width: 184px;
    }
}
