html,
body {
    height: 100vh;
}

/*テキストのstyle*/
body,textarea,input,label {
    color: rgb(151, 132, 91);
}

/*selectのstyle*/
select {
    color: rgb(187, 158, 104);
    padding: 4px 15px;
}

/*textarea,input,selectのstyle*/
textarea,input,select {
    background-color: rgb(250, 250, 243);
    border: 1px solid rgb(250, 250, 243);
    padding: 4px 15px;
}

/*labelのstyle*/
label {
    padding: 5px 15px;
}

/*placeholderのstyle*/
textarea::placeholder,
input::placeholder {
    color: rgb(209, 183, 134);
    font-family: "Rasa", serif;
    font-size: 1em;
}

select,
.button {
    cursor: pointer;
}

/*全viewファイルの共通画面style*/
.app-body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*main-sectionのstyle*/
.main-section {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

/*headerのstyle*/
.header-section {
    display: grid;
    grid-template-columns:  repeat(3,1fr);
    grid-template-rows: 1fr;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid rgb(230, 227, 204);
    padding: 10px 60px;
}

/*FashionablyLateのロゴのstyle*/
.header-logo {
    grid-column: 2;
    font-weight: lighter;
    font-size: 2rem;
    margin-top: 1%;
}

/*headerボタンのstyle*/
.header-nav-link {
    grid-column: 3;
    justify-self: end;
    width: 80px;
    border: 1px solid rgb(209, 183, 134);
    color: rgb(209, 183, 134);
    background-color: rgb(250, 250, 243);
    text-decoration: none;
}

.header-nav-link:hover {
    color: rgb(250, 250, 243);
    background-color: rgb(209, 183, 134);
}

/*page-sectionのstyle*/
.page-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

/*各共通部分のlogo*/
.page-logo {
    text-align: center;
    font-weight: 100;
    font-size: 2rem;
}

/*header-logo,header-nav-link,page-logoのstyle*/
.header-logo,
.header-nav-link,
.page-logo {
    font-family: serif;
    color: rgb(151, 132, 91);
}

/*ボタンのstyle*/
.button {
    display: block;
    padding: 8px 32px;
    background: rgb(83, 71, 40);
    border: none;
    color: white;
    font-size: 1rem;
}

.button:hover {
    color: rgb(83, 71, 40);
    background-color: white;
}

.pagination {
    margin-right: 10px;
    display: flex;
    list-style-type: none;
    cursor: pointer;
}

.pagination li {
    display: inline-block;
    border: 1px solid rgb(230, 227, 204);
    padding: 2px 6px;
    text-align: center;
}

.pagination a {
    text-decoration: none;
    color: rgb(151, 132, 91);
}

.pagination .active {
    background-color: rgb(83, 71, 40);
    color: white;
}

/*バリデーションメッセージ*/
.form-error {
    height: 20px;
    color: #ff0000;
    text-align: left;
    margin: 1%;
    font-size: 0.8rem;
}

@media screen and (max-width: 767px) {
    .header-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .form-error {
        font-size: 0.7rem;
    }

    .header-nav-link {        margin: 3%;
    }

    .header-logo,
    .page-logo {
        font-size: 1.8rem;
    }

    .page-logo {
        margin: 1%;
    }

    .button {
        margin: 10% auto;
    }
}

@media screen and (min-width: 768px) {
    .main-section {
        padding-top: 50px;
    }
}

@media screen and (min-height: 1024px) and (max-width: 1024px) {
    .header-section {
        margin: 4% 0 0;
    }

    .header-nav-link {
        margin: 5% 0;
    }

    .button {
        margin: 15% auto;
    }
}
