html,
body {
    height: 90%;
}

body,textarea,input,select {
    color: rgb(202, 189, 178);
}

textarea,input,select {
    background-color: rgb(247, 243, 243);
}

textarea::placeholder,
input::placeholder {
    color: rgb(194, 178, 167);
}

.header-logo,
.page-logo {
    font-family: serif;
}

.link
.button {
    cursor: pointer;
}

/*画面全体のstyle*/
.app-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/*headerのstyle*/
.header-section {
    margin-top: 2%;
    background: white;
    font-family:serif;
    text-align: center;
    border-bottom: 1px solid rgb(247, 243, 243);
    padding: 10px;
    display: grid;
    grid-template-columns:  repeat(3,1fr);
    grid-template-rows: 1fr;
}

/*FashionablyLateのロゴのstyle*/
.header-logo {
    font-size: 2rem;
    grid-column: 2;
}

/*headerボタンのstyle*/
.header-nav-link {
    width: auto;
    padding: 4px 20px;
    border: 1px solid rgb(214, 191, 175);
    background-color: rgb(236, 234, 234);
    color: rgb(214, 191, 175);
    text-decoration: none;
    margin: 10px auto;
    font-family: serif;
    grid-column: 3;
}

/*header以下の画面のstyle*/
.main-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    padding: 20px;
}

/*各共通部分のlogo*/
.page-logo {
    font-family: serif;
    text-align: center;
    font-size: 1.7rem;
    margin: 10px auto;
}

/*ボタンのstyle*/
.button {
    display: block;
    padding: 6px 34px;
    background: rgb(138, 121, 108);
    border: none;
    color: white;
    font-size: 1rem;
    margin: 20px auto 0;
}

/*バリデーションメッセージ*/
.form-error {
    width: 100%;
    height: 20px;
    color: #ff0000;
    text-align: left;
}

@media (width <= 767px) {

}

@media (min-width: 768px) and (max-width: 912px)  and (min-height: 914px) {
    html,body {
    height: 100%;
}
}
