/*画面全体のstyle*/
.contact-body {
    width: 90%;
    padding: 4px;
    margin: 2% auto;
}
/*headerのstyle*/
.header-section {
    max-width: 1230px;
    width: 100%;
    height: 60px;
    background: white;
    padding: 2px;
    margin: 2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    border-bottom: 1px solid rgba(224, 224, 222, 0.904);
}
/*FashionablyLateのロゴのstyle*/
.top-logo-link {
    display: block;
    width: 100%;
    color: rgba(116, 104, 80, 0.863);
    text-decoration: none;
    font-weight: bold;
    line-height: 2.2rem;
    font-size: 1.8rem;
}
/*header以下の画面のstyle*/
.main-section {
    max-width: 1230px;
    width: 100%;
    padding: 10px;
    background-color: white;
}
