html,
body {
    width: 100%;
    max-height: 100vh;
    font-family: "Rasa", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*テキストのstyle*/
body,textarea,input,label {
    color: #8B7969;
}

/*textarea,input,selectのstyle*/
textarea,input,select {
    background-color: #F4F4F4;
}

/*labelのstyle*/
label,
legend {
    font-size: 16px;
}

/*placeholderとselectのstyle*/
select,
textarea::placeholder,
input::placeholder {
    color: #BEB1A6;
    background-color: #F4F4F4;
    font-family: "Rasa", sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-left: 33.78px;
}

/* fieldsetのデフォルトスタイルのみリセット */
fieldset {
    border: none;
    display: contents;
}

select,
.button {
    cursor: pointer;
}

/*全viewファイルの共通画面style*/
.app-body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*main-sectionのstyle*/
.main-section {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

/*headerのstyle*/
.header-section {
    width: 100%;
    height: 100px;
    line-height: 100px;
    display: grid;
    grid-template-columns:  repeat(3,1fr);
    grid-template-rows: 1fr;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #E0DFDE;
}

/*header-logo,header-nav-link,page-logoのstyle*/
.header-logo,
.header-nav-link,
.page-logo {
    font-family: serif;
    color: #8B7969;
}


/*FashionablyLateのロゴのstyle*/
.header-logo {
    grid-column: 2;
    font-weight: 400;
    font-size: 40px;
    line-height: 100px;
}

/*headerボタンのstyle*/
.header-nav-link {
    grid-column: 3;
    justify-self: right;
    text-align: center;
    min-width: 90px;
    max-width: 100px;
    width: 30%;
    padding: 2px 15px;
    border: 1px solid #D9C6B5;
    color: #D9C6B5;
    background-color: #E0DFDE;
    text-decoration: none;
    margin: 0 5%;
}

.header-nav-link:hover {
    color: #E0DFDE;
    background-color: #D9C6B5;
}

/*page-sectionのstyle*/
.page-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

/*各共通部分のlogo*/
.page-logo {
    text-align: center;
    font-weight: 400;
    font-size: 35px;
    line-height: 46px;
    margin-bottom: 46px;
}


/*ボタンのstyle*/
.button {
    display: block;
    padding: 8px 32px;
    background: #82756A;
    border: none;
    color: white;
    font-size: 1rem;
}

.button:hover {
    color: #82756A;
    background-color: white;
}

.pagination {
    margin-right: 10px;
    display: flex;
    list-style-type: none;
    cursor: pointer;
}

.pagination li {
    display: inline-block;
    border: 1px solid #E0DFDE;
    padding: 2px 6px;
    text-align: center;
}

.pagination a {
    text-decoration: none;
    color: #8B7969;
}

.pagination .active {
    background-color: #8B7969;
    color: white;
}

/*バリデーションメッセージ*/
.form-error {
    height: 20px;
    color: #ff0000;
    text-align: left;
    margin: 1%;
    font-size: 0.8rem;
}

@media screen and (max-width: 767px) {
    .main-section {
        padding-top: 4px;
    }
    .header-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4px;
    }

    .form-error {
        font-size: 0.7rem;
    }

    .header-nav-link {        margin: 3%;
    }

    .header-logo,
    .page-logo {
        font-size: 1.8rem;
    }

    .button {
        margin: 10% auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .header-section {
        padding: 10px 30px;
    }

    .main-section {
        padding-top: 10px;
    }
}

@media screen and (min-height: 1181px) and (min-width: 1024px) {
    .header-section {
        margin: 4% 0 0;
    }

    .header-nav-link {
        margin: 5% 0;
    }

    .button {
        margin: 15% auto;
    }
}
