/*画面全体のstyle*/
.app-body {
    /*height: 100vh;*/
    display: flex;
    flex-direction: column;
    color: rgb(134, 116, 100);
}

body,textarea,input,label {
    color: rgb(134, 116, 100);
}

select {
    color: rgb(194, 178, 167);
    line-height: 2.5rem;
    padding: 4px 14px;
}

textarea,input,select {
    background-color: rgb(252, 251, 241);
    border: 1px solid rgb(252, 251, 241);
    line-height: 2.5rem;
    padding: 4px 14px;
}

label {
    line-height: 2.5rem;
    padding: 4px 14px;
}

textarea::placeholder,
input::placeholder {
    color: rgb(194, 178, 167);
}

.page-section {
    margin: 1% auto;
    font-family: 'Franklin Gothic Medium';
}

.main-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.header-logo,
.header-nav-link,
.page-logo {
    font-family: serif;
    color: rgb(134, 116, 100);
}

.link
.button {
    cursor: pointer;
}

/*headerのstyle*/
.header-section {
    margin-top: 5%;
    background: white;
    text-align: center;
    border-bottom: 1px solid rgb(236, 234, 234);
    padding: 10px;
    display: grid;
    grid-template-columns:  repeat(3,1fr);
    grid-template-rows: 1fr;
}

/*FashionablyLateのロゴのstyle*/
.header-logo {
    font-size: 2rem;
    grid-column: 2;
}

/*headerボタンのstyle*/
.header-nav-link {
    width: auto;
    padding: 6px 20px;
    border: 1px solid rgb(194, 178, 167);
    color: rgb(194, 178, 167);
    background-color: rgb(252, 251, 241);
    text-decoration: none;
    margin: 3% auto;
    grid-column: 3;
}

/*header以下の画面のstyle*/
.main-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    padding: 20px;
}

/*各共通部分のlogo*/
.page-logo {
    text-align: center;
    font-size: 1.7rem;
    margin: 2%;
}

/*ボタンのstyle*/
.button {
    display: block;
    padding: 6px 34px;
    background: rgb(134, 116, 100);
    border: none;
    color: white;
    font-size: 1rem;
    margin: 2.5% auto;
}

/*バリデーションメッセージ*/
.form-error {
    height: 20px;
    color: #ff0000;
    text-align: left;
    margin: 1%;
}

@media (width <= 767px) {
    .header-section {
        display: flex;
    }

    .form-error {
        font-size: 0.7rem;
    }

    .header-logo {
        font-size: 1.8rem;
    }

    .page-logo {
        margin: 1%;
    }
}

@media (min-width: 768px) and (max-width: 912px) {
    .main-section {
        padding: 10px;
    }
}