.app-body {
    max-width: 1230px;
    width: 100%;
    color: rgb(138, 121, 108);
    margin: 0;
}

.header-section {
    height: auto;
    width: 100%;
    height: auto;
    background: white;
    padding: 10px 10px 30px 10px;
    margin: 2px;
    font-family:serif;
    text-align: center;
    border-bottom: 1px solid rgba(224, 224, 222, 0.904);
}

.header-utilities {
    width: 96%;
    padding: 2px;
    height: 60px;
    display: flex;
    padding: 1px;
    margin: 1% 2%;
    justify-content: space-evenly;
    align-items: center;
}

.header__logo {
    font-family: serif;
    padding: 2px;
    text-align: center;
    color: rgb(138, 121, 108);
    font-size: 1.5rem;
    margin: 2%;
    text-decoration: none;
}

.header__button {
    width: 19%;
    padding: 1px;
    text-align: center;
}


.header-nav__button {
    display: inline-block;
    width: 80%;
    height: 20px;
    border: 1px solid rgb(138, 121, 108);
    background-color: rgba(238, 238, 208, 0.781);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    cursor: pointer;
    color: rgb(138, 121, 108);
    font-size: 0.8rem;
    text-decoration: none;
    padding: 1px;
    margin-top: 1px;
}


.header-nav__link {
    text-decoration: none;
}

.main-section {
    width: 100%;
    padding: 10px;
    background-color: white;
}
