html,
body {
    height: 100%;
}
/*画面全体のstyle*/
.app-body {
    max-width: 1230px;
    width: 100%;
    margin: 0;
    color: rgb(138, 121, 108);
}
/*headerのstyle*/
.header-section {
    width: 100%;
    height: auto;
    background: white;
    font-family:serif;
    text-align: center;
}

.header-utilities {
    width: 100%;
    display: grid;
    grid-template-columns:  repeat(3,1fr);
    grid-template-rows: 1fr;
    align-items: center;
    height: 60px;

}

/*FashionablyLateのロゴのstyle*/
.header-logo {
    display: block;
    width: 100%;
    height: auto;
    color: rgb(138, 121, 108);
    text-decoration: none;
    font-size: 1.5rem;
    grid-column: 2;
    margin: 0 auto;
}

.header__button {
    grid-column: 3;
    text-align: right;
    padding-right: 20px;
}

.header-nav__button {
    border: 1px solid rgb(138, 121, 108);
    background-color: rgb(245, 241, 239);
    cursor: pointer;
    color: rgb(138, 121, 108);
    font-size: 0.8rem;
    text-decoration: none;
    padding: 6px 28px;
    border-radius: 3px;
    margin-right: 20px;
}

.header-nav__link {
    text-decoration: none;
}

/*header以下の画面のstyle*/
.main-section {
    border-top: 1px solid rgb(245, 241, 239);
    width: 100%;
    /*padding: 10px;*/
    background-color: white;
}
