html,
body * {
    font-family: "Rasa", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.button,
.link {
    cursor: pointer;
}

.button:hover {
    opacity: 0.8;
}

.app-body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

/*テキストのstyle*/
body,textarea,input,label {
    color: rgba(139, 121, 105, 1);
}

/*textarea,input,selectのstyle*/
textarea,input,select {
    background-color: rgba(244, 244, 244, 1);
}

/*labelのstyle*/
label,
legend {
    font-size: 16px;
}

/*placeholderとselectのstyle*/
select,
textarea::placeholder,
input::placeholder {
    color: rgba(190, 177, 166, 1);
    background-color: rgba(244, 244, 244, 1);
    font-family: "Rasa", sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
}

/* fieldsetのデフォルトスタイルのみリセット */
fieldset {
    border: none;
    display: contents;
}

select,
.link,
.button {
    cursor: pointer;
}


/*main-sectionのstyle*/
.main-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

/*headerのstyle*/
.header-section {
    width: 100%;
    height: 100px;
    line-height: 100px;
    display: grid;
    grid-template-columns:  repeat(3,1fr);
    grid-template-rows: 1fr;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid rgba(224, 223, 222, 1);
}

/*header-logo,header-nav-link,page-logoのstyle*/
.header-logo,
.header-nav-link,
.page-logo {
    font-family: serif;
    color: rgba(139, 121, 105, 1);
}


/*FashionablyLateのロゴのstyle*/
.header-logo {
    grid-column: 2;
    font-weight: 400;
    font-size: 40px;
    line-height: 100px;
}

/*headerボタンのstyle*/
.header-nav-link {
    grid-column: 3;
    justify-self: right;
    text-align: center;
    min-width: 90px;
    max-width: 100px;
    width: 30%;
    padding: 2px 15px;
    border: 1px solid #D9C6B5;
    color: #D9C6B5;
    background-color: #E0DFDE;
    text-decoration: none;
    margin: 0 5%;
}

.header-nav-link:hover {
    color: #E0DFDE;
    background-color: #D9C6B5;
}

/*page-sectionのstyle*/
.page-section {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
}

/*各共通部分のlogo*/
.page-logo {
    text-align: center;
    font-weight: 400;
    font-size: 35px;
    line-height: 46px;
    margin-bottom: 51px;
    color: rgba(139, 121, 105, 1);
}

/*ボタンのstyle*/
.button {
    display: block;
    background: rgba(130, 117, 106, 1);
    border: none;
    color: rgba(255, 255, 255, 1);
}

.button:hover {
    color: rgba(130, 117, 106, 1);
    background-color: rgba(255, 255, 255, 1);
}

.pagination {
    margin-right: 10px;
    display: flex;
    list-style-type: none;
    cursor: pointer;
}

.pagination li {
    display: inline-block;
    border: 1px solid #E0DFDE;
    padding: 2px 6px;
    text-align: center;
}

.pagination a {
    text-decoration: none;
    color: #8B7969;
}

.pagination .active {
    background-color: #8B7969;
    color: white;
}

/*バリデーションメッセージ*/
.form-error {
    height: 20px;
    line-height: 20px;
    color: #ff0000;
    text-align: left;
    margin: 4px 0;
    font-size: 16px;
}

@media screen and (max-width: 767px) {
    .main-section {
        padding-top: 0;
    }

    .header-section {
        display: flex;
        height: 80px;
        flex-direction: column;
        align-items: center;
    }

    .header-logo {
        font-size: 30px;
        line-height: 80px;
    }

    .page-logo {
        font-size: 25px;
        line-height: 40px;
        margin-bottom: 25px;
    }

    .form-error {
        font-size: 12px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .page-logo {
        margin-bottom: 25px;
    }

    .main-section {
        padding: 20px 0;
    }
}

