/*confirm文字style*/
.confirm-logo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 2px;
    text-align: center;
    color: rgba(116, 104, 80, 0.863);
    font-size: 1.5rem;
    margin: 2%;
}
/*confirmフォームのstyle*/
.confirm-form {
    width: 70%;
    font-weight: bold;
    text-align: center;
    color: rgba(116, 104, 80, 0.863);
    font-size: 1rem;
    margin: 1% auto;
    padding: 3px;
}
/*テーブル全体のstyle*/
.confirm-table {
    width: 100%;
    margin: 10px;
}
/*テーブルのstyle*/
.confirm-table-inner {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.confirm-table-row {
    width: 100%;
    height: 40px;
}

.confirm-table-header {
    padding: 3px;
    border: 1px solid rgba(46, 34, 9, 0.863);
    background-color: rgba(116, 104, 80, 0.863);
    color: white;
}

.confirm-table-text {
    padding: 3px;
    border: 1px solid rgba(224,224,222,0.904);
    border-radius: 3px;
    background-color: white(248, 248, 205);
}

.input-hidden {
    background-color: white(248, 248, 205);
    padding: 3px;
    width: 94%;
    color: rgba(116, 104, 80, 0.863);
    font-size: 1rem;
    outline: none;
    border: none;
}

.confirm-table-row-detail {
    width: 100%;
    height: 100px;
}

.form-button {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    text-align: center;
    margin: 5% auto;
}

.form-button-submit {
    padding: 10px;
    width: 30%;
    height: 45px;
    background: rgba(116, 104, 80, 0.863);
    border: 3px solid rgb(247, 247, 205, 0.89);
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.form-button-edit {
    padding: 2px;
    width: 30%;
    height: 45px;
    background: white;
    border: 3px solid white;
    color: rgba(116, 104, 80, 0.863);
    border-radius: 6px;
    cursor: pointer;
    margin: 2px;
}
