/*confirmフォームのstyle*/
.page-main-form {
    width: 70%;
    text-align: center;
    font-family: "Rasa", serif;
    font-size: 1rem;
    margin: 3% auto;
    padding: 3px;

}

/*テーブルのstyle*/
.confirm-table {
    display: block;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    margin: 2% 0;
    font-size: 0.8rem;
}

.confirm-table-row {
    width: 100%;
    height: 46px;
}

.confirm-table-header {
    width: 30%;
    padding: 3px 20px;
    border: 1px solid rgb(253, 252, 242);
    background-color: rgb(175, 150, 102);
    color: white;
}

.confirm-table-text {
    padding: 3px 20px;
    border: 1px solid rgb(253, 252, 242);
    border-radius: 3px;
    background-color: white;
    color: rgb(151, 132, 91);
}

.confirm-table-row-detail {
    width: 100%;
    height: 200px;
}

.form-button {
    display: flex;
    justify-content: center;
    text-align: center;
}

.confirm-button {
    width: auto;
    text-decoration: none;
    font-size: 1rem;
    margin:10% 2%;
}

.edit-button {
    background: white;
    border: 1px solid white;
    color: rgb(151, 132, 91);
    font-size: 1rem;
    text-decoration: underline;
    margin: 10% 2%;
}
