.page-section {
    margin: 2% auto 0;
    width: 70%;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium';
}

.form-group {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-top: 1%;
}

.form-group:first-of-type {
    margin-top: 0;
}

.form-group:last-of-type {
    align-items: flex-start;
}

.form-label-item {
    width: 35%;
    text-align: left;
}

.form-label-required {
    color: red;
    margin-left: 10px;
}

.contact-item {
    width: 65%;
    /*padding: 6px 14px;*/
}

.input-name {
    width: 48%;
}

.input-name:first-of-type {
    margin-right: 2%;
}

.input-name:last-of-type {
    margin-left: 2%;
}

.gender-group {
    justify-content: left;
}

.input-container {
    width: 65%;
    display: flex;
    justify-content: left;
}

.gender-radio-label {
    width: 18%;
    margin-right: 1%;
}

.gender-radio-label:last-of-type {
    margin-right: 0;
}

.gender-radio {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
}

.gender-text{
    display: flex;
    align-items: center;
    justify-content: left;
}

.gender-text::before {
    display: block;
    margin-right: 2%;
    width: 24px;
    height: 24px;
    border: 1px solid rgb(134, 116, 100);
    border-radius: 50%;
    content: '';
}

.gender-radio:checked+.gender-text::before {
    background: rgb(134, 116, 100);
}

.input-tell {
    width: 30%;
    text-align: center;
}

.tel {
    margin: 0 2%;
}

.building-section {
    margin-bottom: 6%;
}

.select-group {
    position: relative;
}

.select-group::after {
    position: absolute;
    top: 50%;
    right: 37%;
    width: 0;
    height: 0;
    border-top: 12px solid rgb(194, 178, 167);
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    content: "";
    transform: translateY(-50%);
    pointer-events: none;
}

.create-form-item-select {
    width: 30%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.contact-item-detail {
    width: 65%;
    /*padding: 6px 14px;*/
    height: 150px;
}

/* 送信ボタン */
.contact-button {
    margin: 4% auto;
}

/* エラーメッセージ */
.form-error {
    width: 65%;
    margin: 1% 0 0 35%;
}

.error-message {
    margin-right: 10%;
}

@media (width <=767px) {
    .page-section {
        width: 90%;
        padding: 4px;
        margin: 0 5%;
    }

    .form-group {
        width: 100%;
        flex-direction: column;
        margin: 1%;
    }

    .building-section{
        margin-bottom: 33px;
    }

    .form-label-item {
        width: 100%;
        margin-bottom: 10px;
    }

    .contact-item,
    .input-container {
        width: 100%;
    }

    .form-error {
        width: 90%;
        text-align: left;
        margin: 2px;
    }

    .select-group::after {
        top: 76%;
        right: 5%;
    }

    .contact-item-detail {
        width: 100%;
    }

    .contact-button {
        margin: 8px auto;
    }
}

@media (min-width: 768px) and (max-width: 912px) {
    .page-section {
        width: 80%;
    }

    .gender-radio-label {
        width: 22%;
    }
}
