.page-section {
    width: 972px;
    margin: 0 auto;
    justify-content: start;
}

.form-group {
    width: 100%;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 5px;
}

.form-label-item {
    height: 26px;
    line-height: 26px;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    color: rgba(139, 121, 105, 1);
}

.detail-group {
    align-items: flex-start;
}

.form-label-item {
    width: 35%;
    height: 26px;
    line-height: 26px;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}

.contact-item {
    width: 618.82px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: left;
    color: #BEB1A6;
}

.form-label-required {
    color: red;
    margin-left: 10px;
}

.contact-item-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-name-first,
.input-name-last {
    width: 287.15px;
    height: 38px;
    line-height: 38px;
    text-align: left;
}

.gender-radio-label {
    height: 23px;
    line-height: 23px;
    cursor: pointer;
    margin-right: 28px;
}

.input-container-gender {
    padding: 8px 15px;
}

.gender-radio-label:last-of-type {
    margin-right: 0;
}

.gender-radio {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
}

.gender-text{
    height: 23px;
    line-height: 23px;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 18px;
    font-weight: 400;
}

.gender-text::before {
    width: 55.28px;
    line-height: 23px;
    display: block;
    margin-right: 28px;
    width: 20px;
    height: 20px;
    border: 1px solid #8B7969;
    border-radius: 50%;
    content: '';
}

.gender-radio:checked+.gender-text::before {
    background: #8B7969;
}

.contact-item-tell {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-tell {
    width: 178.12px;
    height: 38px;
    line-height: 38px;
    text-align: left;
    padding-left: 0;
}

.tel {
    padding: 8px 0;
    margin: 0 2%;
}

.building-group {
    margin-bottom: 33px;
}

.select-group {
    position: relative;
}

.select-group::after {
    position: absolute;
    top: 50%;
    right: 37%;
    width: 0;
    height: 0;
    border-top: 12px solid rgb(209, 183, 134);
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    content: "";
    transform: translateY(-50%);
    pointer-events: none;
}

.create-form-item-select {
    width: 30%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.detail-group {
    height: 129px;
}

.contact-item-detail {
    height: 100%;
}

/* 送信ボタン */
.contact-button {
    width: 160px;
    height: 46px;
    margin: 22px auto;
    padding: 10px 40px;
}

.error-message {
    margin-right: 24%;
}

.error-message:last-of-type {
    margin-right: 0;
    padding-left: 18px;
}

@media screen and (max-width: 767px) {
    .page-section {
        width: 90%;
        padding: 10px;
        margin: 0;
    }

    .form-group {
        width: 100%;
        flex-direction: column;
        margin: 0.8%;
    }

    .building-section{
        margin-bottom: 5.64%;
    }

    .form-label-item {
        width: 100%;
    }

    .contact-item {
        width: 100%;
    }

    .gender-radio-label {
        width: 33%;
        font-size: 0.8rem;
    }

    .form-error {
        width: 100%;
        text-align: left;
        margin: 0.8%;
    }

    .select-group::after {
        top: 76%;
        right: 5%;
    }

    .contact-item-detail {
        width: 100%;
    }

    .contact-button {
        margin: 8% auto;
    }

    .error-message {
        margin-right: 12%
    }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .page-section {
        width: 80%;
        padding: 10px;
        margin: 0;
    }

    .form-group {
        margin: 1% 0;
    }

    .gender-radio-label {
        width: 33%;
    }

    .building-section {
        margin-bottom: 5.64%;
    }

    .contact-button {
        margin: 5% auto;
    }

}

@media screen and (min-height: 1181px) and (min-width: 1024px) {
    .form-group {
        margin: 2% 0;
    }

    .gender-radio-label {
        width: 28%;
        font-size: 0.8rem;
    }

    .building-section {
        margin-bottom: 5.64%;
    }

    .contact-button {
        margin: 7% auto;
    }
}

@media (height >= 1366px) {
    .page-section {
        margin: 2% auto;
    }

    .page-logo {
        margin: 1% auto;
    }

    .gender-radio-label {
        width: 30%;
        font-size: 0.8rem;
    }

    .building-section {
        margin-bottom: 7.64%;
    }

    .contact-button {
        margin: 8% auto;
    }
}
