.page-section {
    width: 972px;
    margin: 0 auto;
    justify-content: start;
}

.form-group {
    width: 100%;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 5px;
}

.form-label-item {
    height: 26px;
    line-height: 26px;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    color: rgba(139, 121, 105, 1);
}

.detail-group {
    align-items: flex-start;
}

.form-label-item {
    width: 343.96px;
    height: 26px;
    line-height: 26px;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    color: rgba(139, 121, 105, 1);
}

.contact-item {
    width: 618.82px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.input-placeholder::placeholder {
    background-color: rgba(244, 244, 244, 1);
    color: rgba(190, 177, 166, 1);
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
}

.contact-item::placeholder,
.input-name-first::placeholder,
.input-name-last::placeholder {
    padding: 0 33.78px;
}

.form-label-required {
    color: red;
    margin-left: 10px;
}

.contact-item-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-name-first,
.input-name-last {
    width: 287.15px;
    height: 38px;
    line-height: 38px;
    text-align: left;
}

.input-container-gender {
    height: 26px;
    padding-left: 13.46px;
}

.gender-radio-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 51.28px;
}

.gender-radio-label:last-of-type {
    margin-right: 0;
}

.gender-radio {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
}

.gender-radio-icon {
    display: block;
    margin-right: 8px;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(139, 121, 105, 1);
    border-radius: 50%;
}

.gender-radio:checked~.gender-radio-icon {
    background: rgba(139, 121, 105, 1);
}

.gender-text {
    width: 55.28px;
    height: auto;
    font-size: 18px;
    font-weight: 400;
}

.contact-item-tell {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-tell {
    width: 178.12px;
    height: 38px;
    line-height: 38px;
    text-align: center;
}

.tel {
    padding: 8px 0;
    margin: 0 2%;
}

.building-group {
    margin-bottom: 33px;
}

.select-group {
    position: relative;
}

.select-group::after {
    position: absolute;
    top: 50%;
    right: 33%;
    width: 0;
    height: 0;
    border-top: 20px solid rgba(190, 177, 166, 1);
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    content: "";
    transform: translateY(-50%);
    pointer-events: none;
}

.create-form-item-select {
    width: 331.68px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0 21.5px;
}

.detail-group {
    height: 129px;
}

.contact-item-detail {
    height: 100%;
}

.contact-item-detail::placeholder {
    padding: 16px 23.03px;
}

/* 送信ボタン */
.contact-button {
    width: 160px;
    height: 46px;
    line-height: 46px;
    margin: 22px auto;
    font-size: 20px;
    font-weight: 400;
}

.form-error {
    text-align: right;
}

.name-error {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.error-message-first,
.error-message-last {
    width: 45%;
    margin-right: 33.78px;
}

@media screen and (max-width: 767px) {
    .page-section {
        width: 80%;
        margin: 0;
    }

    .form-group {
        height: auto;
        flex-direction: column;
    }

    .form-label-item {
        width: 100%;
        margin-bottom: 10px;
    }

    .contact-item {
        width: 100%;
    }

    .input-name-first,
    .input-name-last {
        width: 45%;
    }

    .input-container-gender {
        height: auto;
        padding: 0;

    }

    .gender-radio-label {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 33%;
        height: auto;
        margin-right: 10px;
    }

    .gender-radio-icon {
        margin-right: 0;
        margin-bottom: 8px;
    }

    .gender-text {
        width: 100%;
        height: auto;
        text-align: center;
    }

    .input-tell {
        width: 30%;
    }

    .select-group::after {
        top: 76%;
        right: 5%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .page-section {
        width: 80%;
        margin: 0;
    }

    .form-group {
        height: auto;
        flex-direction: column;
    }

    .form-label-item {
        width: 100%;
        margin-bottom: 10px;
    }

    .contact-item {
        width: 100%;
    }

    .input-name-first,
    .input-name-last {
        width: 45%;
    }

    .select-group::after {
        top: 76%;
        right: 5%;
    }

    .error-message {
        margin-right: 12%
    }
}


@media (height >= 1366px) {
    .page-section {
        margin: 2% auto;
    }

    .page-logo {
        margin: 1% auto;
    }

    .gender-radio-label {
        width: 30%;
        font-size: 0.8rem;
    }

    .building-section {
        margin-bottom: 7.64%;
    }

    .contact-button {
        margin: 8% auto;
    }
}
