/*contact文字style*/
.page-logo {
    font-family:serif;
    padding: 2px;
    text-align: center;
    color: rgb(138, 121, 108);
    font-size: 1.5rem;
    margin: 2%;
}

/*contact以下の画面全体のstyle*/
.page-section {
    width: 100%;
    margin: 1% auto;
}

/*formのstyle*/
.contact-form {
    width: 70%;
    font-weight: bold;
    text-align: center;
    color: rgb(138, 121, 108);
    font-size: 1rem;
    margin: 0 auto;
    padding: 3px;
}

/*項目名＆入力フィールドのstyle*/
.form-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 4px;
}

/*項目名の全体のstyle*/
.form-group-title {
    width: 30%;
    height: 60px;
    text-align: left;
    font-size: 1rem;
}

/*入力フィールド＆errormessageのstyle*/
.form-group-content {
    width: 70%;
    height: 60px;
}

/*＊のstyle*/
.form-label-required {
    margin-left: 5px;
    color: #ff0000;
    padding: 2px 4px;
    border-radius: 3px;
}

/*バリデーションメッセージ*/
.form-error {
    width: 100%;
    height: 20px;
    color: #ff0000;
    text-align: left;
    font-size: 0.8rem;
}

/*苗字＆名前全体のstyle*/
.name-input-text {
    width: 100%;
    height: 40px;
    display: flex;
    gap: 10px;
}

/*苗字＆名前フィールド*/
.contact-item-name {
    padding: 10px;
    width: 48%;
    border: 1px solid rgba(224, 224, 222, 0.904);
    background-color: rgba(248, 248, 234, 0.76);
    border-radius: 3px;
    color: rgba(116, 104, 80, 0.863);
}

/*radio全体のstyle*/
.form-input-radio {
    width: 100%;
    height: 60px;
    text-align: left;
}

/*radioボタン*/
.gender-radio {
    accent-color:rgba(116, 104, 80, 0.863);
    margin-right: 10px;
}
/*radioボタン横の文字*/
.gender-radio-label {
    margin-right: 10px;
}
/*inputのstyle*/
.contact-item {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(224, 224, 222, 0.904);
    background-color: rgba(248, 248, 234, 0.76);
    color: rgba(116, 104, 80, 0.863);
    appearance: none;
    border-radius: 1px;
    box-sizing: border-box;
}
/*tellのstyle*/
.form-input-tell {
    display: flex;
    gap: 3px;
    align-items: center;
}
/*tellフィールド*/
.contact-item-tell {
    padding: 10px;
    width: 28%;
    border: 1px solid rgba(224, 224, 222, 0.904);
    background-color: rgba(248, 248, 234, 0.76);
    color: rgba(116, 104, 80, 0.863);
    border-radius: 3px;
}
/*お問い合わせの種類全体のstyle*/
.form-group-content-select {
    width: 70%;
    text-align: left;
}
/*お問い合わせの種類style*/
.create-form-item-select {
    width: 50%;
    border: 1px solid rgba(224, 224, 222, 0.904);
    background-color: rgba(248, 248, 234, 0.76);
    color: rgba(116, 104, 80, 0.863);
}

.form-group-detail {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 4px;
}

/*お問い合わせ内容全体のstyle*/
.form-group-content-detail {
    width: 70%;
}
/*お問い合わせフィールド*/
.contact-item-detail {
    height: 200px;
    width: 100%;
    text-align: left;
    padding: 10px;
    border: 1px solid rgba(224, 224, 222, 0.904);
    background-color: rgba(248, 248, 234, 0.76);
    color: rgba(116, 104, 80, 0.863);
    border-radius: 3px;
    appearance: none;
    text-align: left;
}
/*お問い合わせボタン全体のstyle*/
.form-button {
    margin-top: 20px;
    text-align: center;
}
/*お問い合わせボタン*/
.form-button-submit {
    padding: 10px;
    width: 34%;
    height: 55px;
    background: rgba(116, 104, 80, 0.863);
    border: 3px solid rgba(248, 248, 234, 0.76);
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.f-button {
    text-decoration: none;
    color: #fff;
}

.hn-button {
    width: 15%;
    text-align: center;
}
