.header-section {
    height: 99px;
}

.main-section {
    background-color: rgba(241, 236, 231, 1);
}

.page-logo{
    margin-top: 11px;
}

.page-section {
    width: 736px;
    margin: 5px auto 139px;
}

.page-main-form {
    width: 100%;
    height: 579px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    border: 1px solid rgba(197, 185, 176, 1);
    padding: 98px 145.5px 41px;
}

.form-group {
    width: 445px;
    margin-bottom: 27px;
}

.form-label-item {
    display: block;
    width: 100%;
    height: 33px;
    line-height: 33px;
    text-align: left;
    font-size: 25px;
    margin-bottom: 14px;
}

.contact-item {
    width: 100%;
    height: 55px;
    line-height: 55px;
    appearance: none;
    padding-left: 27px;
}

.login-button {
    width: 160px;
    height: 46px;
    line-height: 46px;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(130, 117, 106, 1);
    margin: 48px auto;
}

@media screen and (max-width: 767px) {
    .header-section {
        height: auto;
    }

    .page-section{
        width: 80%;
        height: 70vh;        margin: 0 auto;
    }

    .page-main-form {
        width: 100%;
        height: auto;
        padding: 30px;
        margin-bottom: 10%;
    }

    .form-group {
        width: 100%;
    }

    .login-button {
        margin: 18px auto;
    }

}

