.main-section {
    background-color: rgba(241, 236, 231, 1);
}

.page-logo{
    margin-top: 11px;
}
.page-section {
    width: 736px;
    margin: 5px auto 139px;
}

.page-main-form {
    width: 100%;
    height: 579px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    border: 1px solid rgba(197, 185, 176, 1);
    padding: 98px 145.5px 41px;
}

.form-group {
    width: 445px;
    margin-bottom: 27px;
}

.form-label-item {
    width: 100%;
    height: 33px;
    line-height: 33px;
    text-align: left;
    font-size: 25px;
    margin-bottom: 14px;
}

.contact-item {
    width: 100%;
    height: 55px;
    line-height: 55px;
    appearance: none;
    padding-left: 27px;
}

.login-button {
    width: 120px;
    height: 46px;
    line-height: 46px;
    font-size: 20px;
    margin: 48px auto;
}

@media screen and (max-width: 768px) {
    .page-section {
        width: 90%;
        padding: 20px;
        margin-bottom: 10%;
    }

    .page-main-form {
        padding: 20px;
        margin-bottom: 10%;
    }

    .contact-item {
        line-height: 2rem;
    }
}

@media screen and (min-height: 1181px) and (min-width: 1024px) {
    .page-section {
        width: 40%;
    }

    .page-main-form {
        margin-bottom: 10%;
    }

    .form-group {
        margin: 5% 0;
    }
}
