.header-section {
    height: 99px;
}

.main-section {
    background-color: rgba(241, 236, 231, 1);
    padding-top: 60px;
}

.page-section {
    width: 736px;
    margin: 8px auto 74px;
}

.page-main-form {
    width: 100%;
    height: 644px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    border: 1px solid rgba(197, 185, 176, 1);
    padding: 77px 145.5px 17px;
}

    .form-group {
        width: 445px;
        margin-bottom: 25px;
    }

    .form-label-item {
        display: block;
        width: 100%;
        height: 33px;
        line-height: 33px;
        text-align: left;
        font-size: 25px;
        margin-bottom: 14px;
    }

    .contact-item {
        width: 100%;
        height: 55px;
        line-height: 55px;
        appearance: none;
        padding-left: 27px;
    }

    .contact-item-name {
        padding-left: 26px;
    }

    .register-button {
        border: 1px solid rgba(217, 198, 181, 1);
        color: rgba(217, 198, 181, 1);
        background-color: rgba(240, 240, 240, 0.6);
        width: 120px;
        height: 46px;
        line-height: 46px;
        font-size: 20px;
        margin: 18px auto 62px;
    }

@media screen and (max-width: 767px) {
    .header-section {
        height: auto;
    }

    .main-section {
        padding: 5% 0 15%;
    }

    .page-section{
        width: 80%;
        height: 85vh;
        margin: 0 auto;
    }

    .page-main-form {
        width: 100%;
        height: auto;
        padding: 30px;
    }

    .form-group {
        width: 100%;
    }

    .register-button {
        margin: 18px auto;
    }
}
