.main-section {
    background-color: rgb(231, 226, 222);
}

.page-section {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.page-main-form {
    width: 40vw;
    padding: 64px 96px;
    color: rgb(138, 121, 108);
    background-color: white;
    border-radius: 6px;
    border: 1px solid rgb(231, 226, 222);
}

.form-group {
    margin-top: 20px;
}

.form-group:first-of-type {
    margin-top: 0;
}

.form-label-item {
    width: 100%;
    text-align: left;
    padding-left: 10px;
    color: rgb(138, 121, 108);
}

.contact-item {
    padding-left: 10px;
    width: 100%;
    height: 30px;
    color: rgb(138, 121, 108);
    border: 1px solid rgb(231, 226, 222);
    border-radius: 3px;
    background-color: rgb(231, 226, 222);
    appearance: none;
    padding: 4px;
    margin-bottom: 5px;
}

@media (width <=767px) {}

@media (min-width: 768px) and (max-width: 912px) {
    .page-main-form {
        width: 60vw;
    }
}

@media screen and (max-width: 1200px) {
    .page-main-form {
        width: 60vw;
    }
}
