.main-section {
    background-color: rgb(247, 246, 199);
}

.page-section {
    display: flex;
    justify-content: center;
    margin: 1% 0 7% 0;
}

.page-main-form {
    width: 50vw;
    padding: 40px 80px;
    background-color: white;
    border-radius: 6px;
    border: 1px solid rgb(209, 183, 134);
    margin: 1% auto;
}

.form-group {
    margin: 1% 0;
}

.form-label-item {
    width: 100%;
    text-align: left;
    margin-bottom: 10%;
    font-size: 1.2rem;
}

.contact-item {
    width: 100%;
    border-radius: 3px;
    appearance: none;
    margin: 1% 0;
}

@media (width <=767px) {
    .page-main-form {
        width: 90vw;
        padding: 20px;
    }
}

@media (width >=768px) {
    .page-main-form {
        width: 70vw;
    }


}

@media (height >=1025px) and (width <=1024px) {
    .header-section {
        margin: 5% auto 2%;
    }

    .page-main-form {
        width: 70vw;
    }

    .form-group {
        margin: 5% 0;
    }

    .contact-item {
        margin: 5% 0;
    }
}