.header-section {
    display: none;
}

.thanks__content {
    width: 100%;
    height: 60%;
    padding: 3%;
    display: block;
    text-align: center;
    font-family: serif;
    box-sizing: border-box;
}

.thanks__back {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thanks__front {
    width: 100%;
    text-align: center;
    color: rgb(83, 71, 40);
    font-weight: bold;
    font-size: 1.2rem;
    position: absolute;
}

.thanks {
    color: rgb(245, 241, 239);
    font-size: 10rem;
}

.thanks__link {
    padding: 6px 34px;
    background: rgb(83, 71, 40);
    border: none;
    color: white;
    text-decoration: none;
    font-size: 1rem;
}
