.main-section {
    min-height: 100vh;
    justify-content: center;
}

.header-section {
    display: none;
}

/* h1,h2,aの親要素のstyle */
.thanks__content {
    width: 1381px;
    height: 100%;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* お問い合わせありがとうございましたの文字のstyle */
.thanks__front {
    width: 510px;
    text-align: center;
    color: rgba(139, 121, 105, 1);
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    position: absolute;
    top: 39%;
}

/* Thank youの文字のstyle */
.thanks {
    height: 365px;
    color: rgba(139, 121, 105, 0.05);
    font-size: 280px;
    line-height: 365px;
    font-weight: 400;
}

/* HOMEボタンのstyle */
.thanks__link {
    width: 140px;
    height: 46px;
    line-height: 46px;
    background: rgba(130, 117, 106, 1);
    border: none;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-size: 20px;
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
}
