.header-section {
    display: none;
}

.thanks__content {
    width: 100%;
    height: 60%;
    padding: 3%;
    display: block;
    text-align: center;
    font-family: serif;
    box-sizing: border-box;
}

.thanks__back {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thanks__front {
    width: 100%;
    text-align: center;
    color: rgb(138, 121, 108);
    font-weight: bold;
    font-size: 1.2rem;
    position: absolute;
}

.thanks {
    color: rgb(245, 241, 239);
    font-size: 10rem;
}

.thanks__button {
    position: absolute;
    bottom: 38%;
    text-align: center;
    font-size: 1rem;
}

.thanks__button-submit {
    display: inline-block;
    padding: 4px 30px;
    background: rgb(138, 121, 108);
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
}
